/* Higher specificity of html */
:root {
  --spacing: 10px;
  --blur: 10px;
  --base: #ffc600;
}

body {
  background: linear-gradient(rgb(248, 209, 215), orange);
  color: white;
  text-align: center;
  padding: 1rem;
  margin: 1rem auto;
  font-size: 2rem;
  font-weight: 100;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 1px 1px darkgray;
  display: flex;
  justify-content: center;
}

.controls {
  margin-bottom: 2rem;
}

input {
  width: 100px;
}

.hl {
  color: var(--base)
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
  margin: 1rem auto;
  width: 90%;
}